{% extends 'layout_page.twig' %}

{% set page = 'files' %}

{% block title %}GitList{% endblock %}

{% block content %}

        <table class="table table-bordered tree" style="max-width:100%">
            <tbody>
                <tr>
                    <td width="25%" id="file-tree-td">
                        <div id="tree" class="pre-scrollable file-tree"></div>
                    </td>
                    <td width="75%" id="file-view-td">
                        <div id="source-view" class="pre-scrollable file-view" style="max-width:100%;overflow-x:scroll;">
                            <pre id="sourcecode"></pre>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    <script>
        
    </script>
        <!--<p>This repository is empty.</p>-->
{% endblock %}
